<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.bluedotinnovation.bdpointxamarindemo.bdpointxamarindemo">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="27" />
	<application android:allowBackup="true" android:icon="@mipmap/icon" android:label="@string/app_name">
		<service android:name="au.com.bluedot.point.beacon.BlueDotBLEService" android:exported="false" />
		<service android:name="au.com.bluedot.point.net.engine.BlueDotPointJobService" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:name="au.com.bluedot.point.net.engine.BlueDotPointService" android:exported="false" />
		<service android:name="au.com.bluedot.point.net.engine.DataIntentService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" />
		<service android:name="au.com.bluedot.point.net.engine.DataJobIntentService" android:permission="android.permission.BIND_JOB_SERVICE" android:exported="false" />
		<service android:name="au.com.bluedot.point.net.engine.DataJobScheduler" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:name="au.com.bluedot.point.net.engine.BDJobRegistryService" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" />
		<service android:name="au.com.bluedot.point.net.engine.BluedotLocationService" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" />
		<receiver android:name="au.com.bluedot.point.net.engine.BluedotBootReceiver" android:directBootAware="true" android:enabled="false" android:exported="false">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.QUICKBOOT_POWERON" />
				<action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name="au.com.bluedot.point.net.engine.LocationUpdatesReceiver" android:exported="true">
			<intent-filter>
				<action android:name="au.com.bluedot.point.net.engine.LocationUpdatesReceiver.ACTION_PROCESS_UPDATES" />
			</intent-filter>
		</receiver>
		<receiver android:name="au.com.bluedot.point.net.engine.StartJobIntentServiceReceiver" />
		<receiver android:name="au.com.bluedot.point.net.engine.BDJobBroadcastReceiver" />
		<receiver android:name="au.com.bluedot.point.net.engine.BluedotLocationBroadcastReceiver" />
	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Required for Beacons integration -->
	<!-- Required for Google Maps -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
	<!-- Required for SessionLogger -->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<!--App to be visible only to GPS/network location enabled devices-->
	<uses-feature android:name="android.hardware.location.gps" android:required="true" />
	<uses-feature android:name="android.hardware.location.network" android:required="true" />
</manifest>